*{
    box-sizing:border-box;
}


body{

    margin:0;

    background:#0b0b0b;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

}



.container{

    width:95%;

    max-width:1200px;

    margin:auto;

    padding:20px;

}




h1{

    text-align:center;

    color:#00ff88;

    font-size:32px;

}



h2{

    color:#ffd700;

}





.form-box{


    background:#181818;

    padding:20px;

    border-radius:15px;

    margin-bottom:20px;

}




input,
select{


    width:100%;

    padding:12px;

    margin:8px 0;

    border-radius:8px;

    border:none;

    font-size:16px;


}





button{


    padding:12px 18px;

    border:none;

    border-radius:10px;

    background:#00a86b;

    color:white;

    cursor:pointer;

    margin:5px;


}



button:hover{

    opacity:0.8;

}





.columns{


    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;


}





.box{


    background:#151515;

    padding:15px;

    border-radius:15px;


}





.team{


    background:#222;

    border:1px solid #333;

    padding:15px;

    margin:10px 0;

    border-radius:12px;


}



.team h3{

    margin:0;

    color:#00ff88;

}





.time-title{


    background:#252525;

    padding:12px;

    border-radius:10px;

    color:#ffd700;

    margin-top:20px;


}





.table-box{


    background:#181818;

    padding:15px;

    margin:15px 0;

    border-radius:12px;

}



.table-box h3{

    color:#00ff88;

}





.slot{


    background:#222;

    padding:8px;

    margin:5px 0;

    border-radius:8px;


}




.paid{

    color:#00ff00;

}



.unpaid{

    color:#ff5555;

}





@media(max-width:800px){


.columns{

    grid-template-columns:1fr;

}


}
