*{

box-sizing:border-box;

}



body{

margin:0;

background:#080808;

color:white;

font-family:Arial, Helvetica, sans-serif;

}




.container{

width:95%;

max-width:1300px;

margin:auto;

padding:20px;

}




h1{

text-align:center;

color:#00ff88;

font-size:35px;

}



h2{

color:#ffd700;

}





.register{

background:#151515;

padding:20px;

border-radius:15px;

margin-bottom:20px;

}




input,
select{

width:100%;

padding:13px;

margin:8px 0;

border-radius:8px;

border:none;

font-size:16px;

}





button{

padding:12px 18px;

background:#00aa66;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

margin:5px;

}



button:hover{

opacity:0.8;

}





.layout{


display:grid;

grid-template-columns:1fr 1fr;

gap:20px;


}




.panel{


background:#141414;

padding:15px;

border-radius:15px;


}





.team{


background:#202020;

border-radius:12px;

padding:12px;

margin:10px 0;

border:1px solid #333;


}




.team h3{

margin:0;

color:#00ff88;


}





.time-title{


background:#252525;

padding:12px;

margin-top:15px;

border-radius:10px;

color:#ffd700;

font-size:18px;


}





.paid{

color:#00ff00;

font-weight:bold;

}



.unpaid{

color:#ff4444;

font-weight:bold;

}





.table-box{


background:#1b1b1b;

padding:15px;

margin:15px 0;

border-radius:12px;


}



.table-box h3{

color:#00ff88;

}





.slot{


background:#252525;

padding:10px;

margin:5px 0;

border-radius:8px;


}




.slot span{

color:#ffd700;

}




@media(max-width:900px){


.layout{

grid-template-columns:1fr;

}


}
